{{#with zmogus}}
Vardas: <b>{{vardas}}</b><br>
Pavarde: <b>{{pavarde}}</b><br>
Alga: <b>{{alga}}<br></b>

Unikalus identifikavimo numeris: <b>{{id}}</b>

{{/with}}
    <br><form method="get">
        naujas vardas: <input type="text" name="naujasVardas" ><br>
        <br>
        nauja pavarde: <input type="text" name="naujaPavarde" ><br>
        <br>
        nauja alga: <input type="number" name="naujaAlga" ><br>
        <br>
        <input type="submit" value="Save" href="/">
       <button><a href="/">Go back!</a></button> 
        </form>